extends ./layout

block content
    form.form-horizontal(role="form" method='POST' action="/robots")
        .control-group
            label(for="url-input" class="col-sm-2 control-label") Название
            .col-sm-10
                input.form-control#url-input(name="name")
        .control-group
            label(for="url-input" class="col-sm-2 control-label") Адрес игры на сайте
            .col-sm-10
                input.form-control#url-input(name="url")
        .control-group
            label(for="url-input" class="col-sm-2 control-label") Тип робота
            .col-sm-10
                select.form-control(name="type")
                    option(value="watcher") Следящий робот
        button.btn.btn-success Создать
