extends ./layout

block content
    h2.title= robot.get('name')
    .url
        a(href=robot.get('url'), target='_blank') Посмотреть на сайте

    .state= robot.get('state')
    .game-chart(data-chart=robot.get('gameData'))
